<h1><%= @photo.caption %></h1>
<p class = "lead">taken by <%=User.find(@photo.user_id).name%></p>

<% if @is_owner %>
<div class = "btn-toolbar">
<%= link_to "edit", edit_photo_path(@photo), :class => "btn-sm btn-info" %>
<%= link_to "delete", @photo, :class => "btn-sm btn-info", method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>

<h4>Comments</h4>
<hr class="intro-divider">
<%= render @photo.comments %>

<p>Add a comment:</p>
<%= render 'comments/form' %>
